## CLIMBING_APP
ENV_CLIMBAPP_POSTGRES_DB=climbing_management
ENV_CLIMBAPP_POSTGRES_USER=change_it

ENV_CLIMBAPP_MONGO_DB=climbing_management

ENV_CLIMBAPP_PORT=8080


## ENROLLMENT
ENV_ENROLLMENT_MONGO_DB=enrollment_management
ENV_CLIMBAPP_SERVICE_BASE_URL=http://app:8080

ENV_ENROLLMENT_PORT=8081